/* Replace "Created with Quartz" with The Corvus Guild Copyright and blend with footer style */
footer {
  & > *:first-child {
    font-size: 0 !important;
    
    &::after {
      content: "© 2026 The Corvus Guild";
      font-size: 1rem !important;
      display: inline;
      color: var(--darkgray);
      font-weight: 500;
    }
  }
}
